
/* organisation du code : 
    1. La version mobile
        a) le général 
            - visibilité contenu
            - le texte
            - les bordures et couleurs
            - la flexbox
            - le menu burger
        b) la page d'accueil
            - l'en-tête
            - le contenu
            - le footer (prévoir un bouton retour en haut)
        c) la page présentation
            - l'en-tête
            - le contenu
            - le footer (prévoir un bouton retour en haut)

    2. la version tablette
        a) visibilité du contenu
        b) flexbox
    
    3. La version bureau
        a) visibilité du contenu
        b) flexbox
        c) dynamique des liens 
    
    4. le formulaire
        a) version smartphone + tablette

    5. la page parcours (juste CV pdf pour le TP2 actuellement)

*/


/*  
Commentaire perso

ce qu'il me reste à mettre en place : 

        1. au niveau de la page présentation 
            a) prévoir de pouvoir cliquer sur le nom pour obtenir le CV en pdf (avec photo) 
            b) après envoie formulaire  : prévoir la possibilité de télécharger le CV (parcours version page imprimable) + message de bon envoie du formulaire 
        2. au niveau du formulaire
            a) formulaire en mode pop-up (JS)
            b) faire le lien avec le concept inversé de d'offre d'emploi
        3. au niveau du contenu
            a) trouver une solution pour faire le lien avec la lettre à la licorne de linked'In
            b) ajouter des boutons via linked'in voire des slides sur mes postes ou articles (JS)
       4. la niveau de la page parcours
        a) trouver une présentation dynamique pour relater mon parcours pro (avec un fil rouge et des liens sur mon travaux, possibilité de réduire ou de dérouler le textes pour chacunes de expé)
        b) trouver une place pour les passions
        c) faire une version de cette page imprimable (style CV) avec media print 

*/


/***** mobile first *****/

    /***Mise en page générale ***/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.vertical_ligne {
    border-left: 2px solid rgba(255, 255, 255, 0.226);
    margin: 2rem;
}

        /* visibilité du contenu */
@media screen and (max-width:1023px) {
    .gros_blabla {
        display: none;
    }
    .petit_blabla {
        font-size: 1.3rem;
    }
    .CVanime {
        width: 100%;
    }
}

        /* Le texte  */
h1 {
    font-family: fantasy;
    font-size: 4vw;
    margin: 1vw;
}

h2, h3 {
    margin: 1vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

a {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: justify;
}

.titrounets {
    font-size: 1.5rem;
}

        /* Bordures et couleurs */                      /* voir pour modifier le rendu plus tard en fonction du contenu*/

.competences:nth-child(1), .projets:nth-child(1)  {
    border: 3px solid rgba(16, 166, 235, 0.548);
    background-color: rgba(86, 86, 87, 0.575);
}

.competences:nth-child(2), .projets:nth-child(2) {
    border: 3px solid rgba(132, 14, 228, 0.493);
    background-color: rgba(86, 86, 87, 0.575);
}

.competences:nth-child(3), .projets:nth-child(3) {
    border: 3px solid rgba(241, 19, 174, 0.507);
    background-color: rgba(86, 86, 87, 0.575)
}

#titre_bleu, #titre_bleu a {
    color: rgba(12, 143, 204, 0.548);
    font-family: fantasy;
    font-size: 2rem;
}

#titre_violet, #titre_violet a {
    color: rgba(132, 14, 228, 0.493);
    font-family: fantasy;
    font-size: 2rem;
}

#titre_rose, #titre_rose a {
    color: rgba(241, 19, 174, 0.507);
    font-family: fantasy;
    font-size: 2rem;
}
        
        /* Flexbox */

@media screen and (max-width:770px) {
    .visuel, .realisations, .projets, .skills, .competences, .linkedin_post {
        display: flex;
        flex-direction: column;
    }

    .realisations, .bloc_presentation, .skills, .competences, .linkedin_post {
        align-items: center;
        text-align: center;
    }
}        



        /* menu burger pour smartphones et tablettes */

@media screen and (max-width:1023px) {
    
    nav ul li {
        list-style-type: none;
    }
    
    nav li {
        margin-right: 15px;
        color: rgba(180, 77, 206, 0.767); 
        font-family: fantasy;
        font-size: 1.6em;  
    }
    
    nav ul li a {
        color: rgb(180, 77, 206, 0.767);
        display: block;
        border: 3px solid rgba(255, 255, 255, 0.226);
        border-radius: 8px;
        padding: 0.5rem;
    }
    
    .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 60px;
    }
    
    .burger a {              
        display: block;
    }
    
    .menu:target {         
        display: block;
    }
    
    .burger {
        width: calc(3*18px);
        height: auto;
        border: 3px solid rgba(255, 255, 255, 0.226);
        border-radius: 8px;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    .bottom {
        display: block;
        border-bottom: 3px solid rgba(255, 255, 255, 0.226);
        border-radius: 30%;
        width: 75%;
        margin: auto;
        padding: 0;
        height: 12px;
    }
    
    .bottom:last-child {
        margin-bottom: 12px;
    }
    
    .fermer_menu {
        background-color: rgb(7, 7, 7);
        border: 5px solid rgb(7, 7, 7);
        text-align: center;
        margin: 0;
        top: 10px;
    }
    
    .fermer_menu:target {
        display: none;
    }
}

        /* footer : linked'In */
@media screen and (max-width:1023px) {
    .linkedin_post {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    
    .linkedin_post section {
        width: 80%; 
        margin: auto;
    }
    
    .linkedin_post p:nth-child(3) {
        text-align: right;
    }
    
    #linkedin {
        margin: auto;
        box-shadow: 3px 3px 3px  black;
    }
}
        /* footer (mentions légales et politique de conf */

/* @media screen and (max-width:1023px) {
    footer a:target {
        
    }

} 

a-t-on besoin du target pour les liens sur smartphone ou il est possible de cliquer avec le doigt?? 


*/


    /*** Page accueil ***/

        /* Header */



.accroche, .linkedin_post  {
    color: rgba(255, 255, 255, 0.226); 

}

@media screen and (max-width:1023px) {
    header, .linkedin_post  {
        background: rgba(7, 7, 7, 0.877);
    }

    .accroche {
        text-align: left;
        font-size: 5vw; 
    }

    .img_accueil {
        text-align: left;
    }

    .accroche, .img_accueil {
        padding-left: 3vw;
    }

    .menu_responsive {
        margin-bottom: 0.5rem;
    }
}




        /* Contenu : Projets */

@media screen and (max-width:770px) {
.projets {
    width: 90%;
    margin-top: 5%;
    }
}

.projets p {
    padding: 2%;
}





    /*** Page présentation ***/

        /* header et footer  */


@media screen and (max-width:770px) {
    .titre_presentation, .ma_licorne {
        padding: 5%;
    }
}

.titre_presentation, .ma_licorne {
    color: rgba(255, 255, 255, 0.226);
}
        


/* prévoir de pouvoir cliquer sur le nom pour obtenir le CV en pdf (avec photo) */

        /* contenu : skills */

@media screen and (max-width:770px) {
    .presentation_picture {
        display: none;
    }

    .competences {
        height: 20rem;
        width: 50%;
        min-width: 25rem;
    }

    .skills {
        margin: 5%;
    }

    .competences:nth-child(1), .competences:nth-child(2) {
        margin-bottom: 2%;
    }
}

.skills, .competences {
    justify-content: space-evenly;
}


.competences ul {
    list-style-type: none;
}

/* 
box compétence : 
- prévoir un lien sur les images compétences pour avoir un rendu élargi 
    et supprimer les texte en dessous de l'image 
*/


        /* footer */


.ma_licorne {
    background: rgba(7, 7, 7, 0.877);
}

/***** tablettes *****/

    /*** Mise en page générale ***/

        /* visibilité du contenu */

@media screen and (max-width:1023px) and (min-width: 771px) {
    .presentation_picture, .blabla_desktop {
        display: none;
    }
}

        /* Flexbox */

@media screen and (max-width:1023px) and (min-width: 771px) {
    .realisations,.skills {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .visuel, .competences {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .visuel {
        margin-bottom: 1%;
    }
    
    .ma_licorne {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 1%;
    }

    .projets {
        height: 22rem;
    }

    .competences {
        height: 16rem;
    }

    .competences, .projets {
        width: 28%;
        overflow: auto;
        word-wrap: auto;
        text-align: center;
        padding: 0.5%;
        margin: 1% 0 1% 0;
    }
    
    .realisations {
        flex-wrap: wrap;
    }
    
    .bloc_presentation {
        text-align: center;
    }
    
    .competences {
        align-items: center;
    }

    .titre_presentation, .ma_licorne {
        color: rgba(255, 255, 255, 0.226);
        padding: 0 5% 0 5%;
    }
}        



/***** desktop *****/

    /*** Mise en page générale ***/

        /* visibilité du contenu */

@media screen and (min-width:1024px) {

    .presentation_picture {
        display: flex;
        flex-direction: column;
        width: 12%;
        min-width: 150px;
        max-width: 180px;
    }

    .blabla_desktop  {
        font-size: 1rem;
    }

    .petit_blabla {
        display: none;
    }

    .linkedin_post {
        display: flex;
        justify-content: space-evenly;
    }

    .linkedin_post section {
        width: 45%;

    }

    .linkedin_post p:nth-child(3) {
        text-align: right;
    }

    #linkedin {
        margin: 2% 0 2% 0;
        box-shadow: 3px 3px 3px  black;
    }
}
        

        /* Flexbox */
@media screen and (min-width:1024px) {
    .visuel, .realisations, .projets, .bloc_page_presentation, .presentation_picture, .titre_presentation, .header_presentation, .skills, .ma_licorne, .competences {
            display: flex;
    }

    .visuel, .realisations, .ma_licorne, .competences {
        justify-content: space-evenly;
    }

    .titre_presentation, .bloc_page_presentation {
        justify-content: space-between;
    }
        
    .projets, .competences, .presentation_picture, .header_presentation, .ma_licorne {
        flex-direction: column;
    }

    .titre_presentation {
        flex-wrap: wrap;
    }

    .header_presentation {
        padding: 0;
    }

    .competences, .projets {
        width: 28%;
        overflow: auto;
        word-wrap: auto;
        text-align: center;
        padding: 0.5%;
        margin: 1% 0 1% 0;
    }

    .realisations {
        flex-wrap: wrap;
    }

    .bloc_presentation {
        text-align: center;
        width: 85%;
    }

    .competences {
        align-items: center;
    }

    .titre_presentation p, .ma_licorne p {
        padding: 0 5% 0 5%;
        font-style:  italic;        
    }

    .presentation_picture {
        margin: auto;
    }

    .PhotoCV {
        height: auto;
        min-width: 150px;
        max-width: 180px;
    }

    .header_presentation {
        margin: auto;
    }
} 

    /*** En-tête, footer et contenu licorne ***/

@media screen and (min-width:1024px) {
    .accueil, .visuel, .ma_licorne, .titre_presentation, .envoi_formulaire, .linkedin_post  {
        background: linear-gradient(-45deg, #888888, #5c5c5c, #353535, #050505);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
        
    @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
    } 
}

    /* menu */

@media screen and (min-width:1024px) {
    nav {
        justify-content: flex-end;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li {
        list-style-type: none;
    }
    
    nav li {
        color: rgba(180, 77, 206, 0.767); 
        font-family: fantasy;
        font-size: 1.6em;  
    }
    
    nav ul li a {
        color: rgb(180, 77, 206, 0.767);
        display: block;
        border: 3px solid rgba(255, 255, 255, 0.226);
        border-radius: 8px;
        padding: 0.5rem;
    }

    .fermer_menu {
        display: none;
    }
}
    
        /* Dynamique des liens */

nav a:hover, .projets a:hover, .lien_CV a:hover, .contact a:hover {
    color: rgba(137, 43, 226, 0.596);
    border-left: 0.5px groove rgb(92, 4, 173);
    font-size: 105%;
}

#projet_bleu a, .lien_CV a, .contact a {
    color: rgb(180, 77, 206, 0.767);
}

footer a:hover {
    color: rgba(137, 43, 226, 0.596);
    border-left: 0.5px groove rgb(92, 4, 173);
}

footer a {
    color: rgba(255, 255, 255, 0.226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.contact {
    font-size: 100%;
    font-family: fantasy;
}

.contact:active {
    color: rgba(137, 43, 226, 0.596);;
}
  

/***** page formulaire *****/

    /*** le formulaire ***/

@media screen and (max-width:1023px) {
    .bloc_page_form {
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .rappel_presentation {
        position: fixed;
        margin-left: 1vw;
    }
    
    .bloc_page_form {
        margin-left: 15%;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.formulaire h2 {
    font-family: fantasy;
    font-size: 2.5rem;
}

legend {
    font-size: 2rem;
    font-family: fantasy;
}

.gras {
    font-weight: bold;
}

.centrer_txt {
    text-align: center;
    font-style: italic;
}

.header_form {
    color:  rgba(255, 255, 255, 0.226); 
}

.header_form h1 {
    color: rgba(137, 43, 226, 0.596);
}

.envoi_formulaire {
    padding: 2rem;
}

.magic_bottom {
    background-color:  rgba(137, 43, 226, 0.596);
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/***** Page parcours pour le TP2 *****/

.lien_CV {
    font-size: 4vw;
    text-align: center;
    font-family: fantasy;
}
